body {
    background: linear-gradient(130deg, #254E70, #8EE3EF);
    background-attachment: fixed;
    margin: 0px;
    padding: 20px;
}

/* header_insert.php - Header */

.header_bloc {
    max-width: 1000px;
    height: 4em;
    margin: auto;
    padding: 0px;
    background: aliceblue;
    opacity: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
.website_title {
    font-family: Arial;
    font-size: 2em;
    /*background: red;*/
    margin: auto 30px;
    color: #C33C54;
}
.header_menu {
    display: flex;
    flex-direction: row;
    /*background: #254E70;*/
    font-family: Arial;
    font-size: large;
    list-style: none;
    margin: auto 0px;
    padding: 0px;
}
.header_menu * {
    margin: 10px;
    padding: 0px;
    font-size: large;
    color: black;
    text-decoration:none;
}

/* index.php - Main */

.main_page {
    max-width: 1000px;
    margin: 20px auto;
    min-height: 300px;
    padding: 0px;
    background: aliceblue;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}

/* welcome_insert.php - Welcome */

.separation_line {
    height: 3px;
    max-width: 300px;
    min-width: 200px;
    background: #C33C54;
    margin: auto 30px;
    border-radius: 3px;
}
.chart_box {
    border-radius: 20px;
    opacity: 100%;
    background: white;
    padding: 10px;
    margin: 0px 30px;

}
#chartContainer {
    opacity: 100%;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}
table.greyGridTable tbody td {
    font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
}
table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
    font-size: 14px;
}